@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.App {
  text-align: center;
  background-color: pink;
  padding: 200px 100px 100px 100px;
  
}
h1{
  font-family: 'Parisienne', cursive;
  font-size: 50px;
}
p{
  color: red;
  font-family: 'Prata', serif;
}
img{
  width: 300px;
  height: 300px;
  padding-top: -200px;
}